In [1]:
# 라이브러리 불러오기
import numpy as np

In [2]:
# Numpy 객체 정보를 확인하기 위한 사용자 함수 정의 : 객체타입, 구조, 차원, 데이터타입
def np_print(arr):
    text="""
    type : {}
    shape : {}
    dimension : {}
    dtype : {}
    data : \n {}""".format(type(arr), arr.shape, arr.ndim, arr.dtype, arr)
    print(text)

## 산술연산

- 더하기 : +, add()
- 빼기 : -, subtract()
- 나누기 : /, divide()
- 곱하기 : *, multiply()
- 지수곱 표현 : exp()
- 제곱근 : sqrt()
- 로그 : log()
- 내적(행렬곱) : dot()

In [3]:
# 1부터 10미만의 범위(지정범위)에서 1씩 증가하는 숫자를 데이터로 가진 3행 3열의 배열
a = np.arange(1, 10).reshape(3, 3)
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [4]:
# 4이상 13미만의 범위에서 1씩 증가하는 숫자를 데이터로 가진 3행 3열 배열 생성
b = np.arange(4, 13).reshape(3, 3)
b

array([[ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [5]:
# 10 ~ 21까지 3행 4열 형태로 만들기
c = np.arange(10, 22).reshape(3, 4)
c

array([[10, 11, 12, 13],
       [14, 15, 16, 17],
       [18, 19, 20, 21]])

### 더하기
    - 배열 + 배열
    - np.add(arr1, arr2)

In [12]:
print(a)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [13]:
print(b)

[[ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

In [14]:
# 산술연산자
a + b

array([[ 5,  7,  9],
       [11, 13, 15],
       [17, 19, 21]])

In [15]:
# np.add(배열1, 배열2)
np.add(a, b)

array([[ 5,  7,  9],
       [11, 13, 15],
       [17, 19, 21]])

In [16]:
# 구조 다른 배열간의 산술연산지 에러 발생(+)
# 3*3과 3*4형태
a + c

ValueError: operands could not be broadcast together with shapes (3,3) (3,4)

### 빼기

    - 배열 - 배열
    - np.subtract(arr1, arr2)

In [18]:
print(a)
print(b)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

In [17]:
# 산술연산자
a -  b

array([[-3, -3, -3],
       [-3, -3, -3],
       [-3, -3, -3]])

In [19]:
b - a

array([[3, 3, 3],
       [3, 3, 3],
       [3, 3, 3]])

In [20]:
# 메서드 활용
np.subtract(a, b)

array([[-3, -3, -3],
       [-3, -3, -3],
       [-3, -3, -3]])

In [21]:
np.subtract(b, a)

array([[3, 3, 3],
       [3, 3, 3],
       [3, 3, 3]])

### 나누기

    - 배열 / 배열
    - np.divide(arr1, arr2)

In [22]:
# 산술연산자
a / b

array([[0.25      , 0.4       , 0.5       ],
       [0.57142857, 0.625     , 0.66666667],
       [0.7       , 0.72727273, 0.75      ]])

In [23]:
b / a

array([[4.        , 2.5       , 2.        ],
       [1.75      , 1.6       , 1.5       ],
       [1.42857143, 1.375     , 1.33333333]])

In [24]:
# 메서드
np.divide(a, b)

array([[0.25      , 0.4       , 0.5       ],
       [0.57142857, 0.625     , 0.66666667],
       [0.7       , 0.72727273, 0.75      ]])

In [25]:
np.divide(b, a)

array([[4.        , 2.5       , 2.        ],
       [1.75      , 1.6       , 1.5       ],
       [1.42857143, 1.375     , 1.33333333]])

### 곱하기

    - 배열 * 배열
    - np.multiply(arr1, arr2)

In [26]:
# 산술연산자
a * b

array([[  4,  10,  18],
       [ 28,  40,  54],
       [ 70,  88, 108]])

In [27]:
b * a

array([[  4,  10,  18],
       [ 28,  40,  54],
       [ 70,  88, 108]])

In [28]:
np.multiply(a, b)

array([[  4,  10,  18],
       [ 28,  40,  54],
       [ 70,  88, 108]])

In [29]:
np.multiply(b, a)

array([[  4,  10,  18],
       [ 28,  40,  54],
       [ 70,  88, 108]])

### 지수곱 표현

- 지수(exponent) : 부동 소수점으로 숫자를 표시할 때 거듭제곱을 사용하여 표현. <br>
(예) 2.14e+2 = 2.14 x 102 = 214 / 2.98e-8 = 2.98 x 10-8 = 0.0000000298
- np.exp(arr) : 밑(base)이 자연상수 e 인 지수함수로 변환(y = e**x)

In [30]:
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [31]:
# 지수함수
np.exp(a)

array([[2.71828183e+00, 7.38905610e+00, 2.00855369e+01],
       [5.45981500e+01, 1.48413159e+02, 4.03428793e+02],
       [1.09663316e+03, 2.98095799e+03, 8.10308393e+03]])

### 제곱근

- np.sqrt(arr)

<img src='img/sqrt.gif' width='400' height='200' align='left'>

In [32]:
np.sqrt(a)

array([[1.        , 1.41421356, 1.73205081],
       [2.        , 2.23606798, 2.44948974],
       [2.64575131, 2.82842712, 3.        ]])

### 내적(행렬곱)

- np.dot(a, b)

<img src='img/dotProduct.png' width='400' height='200' align='left'>

In [33]:
a * b

array([[  4,  10,  18],
       [ 28,  40,  54],
       [ 70,  88, 108]])

In [35]:
print(a)
print(b)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

In [34]:
np.dot(a, b)

array([[ 48,  54,  60],
       [111, 126, 141],
       [174, 198, 222]])

### Numpy 배열 연산

#### 2. 비교 연산

1) 요소
- 값에 대한 비교 : ==, !=
- 크기에 대한 비교 : >, <, >=, <=

2) 배열
- 두 배열 전체에 대한 비교 : array_equal(a, b)

In [37]:
print(a)
print(b)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

In [38]:
# 두 배열 요소에 대하여 값이 동일한지를 비교
# 반환 : 각 요소마다의 비교결과(True, False)가 배열로 표현됨
a == b

array([[False, False, False],
       [False, False, False],
       [False, False, False]])

In [39]:
np_print(a == b)

    type : <class 'numpy.ndarray'>
    shape : (3, 3)
    dimension : 2
    dtype : bool
    data :
 [[False False False]
 [False False False]
 [False False False]]

In [40]:
# 두 배열 요소에 대하여 값이 다른지 비교
a != b

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [41]:
# 두 배열 요소에 대해 크기 비교
a < b

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [44]:
# 두 배열이 완전히 일치하는지 여부만 조회
# 하나의 T/F 로 반환
np.array_equal(a, b)

False

### Numpy 배열 연산

3. 집계 함수

    - Numpy 배열에 대해 집계 함수를 적용할 때는 반드시 axis로 설정된 기준에 따라 연산 수행
    - 별도로 값을 지정하지 않으면 기본값은 axis = None으로 지정
    - axis
        - axis = None <br>
        전체 데이터를 하나의 배열로 간주하고 집계 함수의 연산 범위를 전체 배열로 지정
        <br>
        <img src='img/axis_None.jpg' width='150' height='150' align='left'>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        - axis = 0 <br>
        열을 기준으로 동일한 열에 있는 요소를 하나의 그룹으로 묶어 집계 함수의 연산 범위로 지정
        <br>
        <img src='img/axis_0.jpg' width='150' height='150' align='left'>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        - axis = 1 <br>
        행을 기준으로 동일한 행에 있는 요소를 하나의 그룹으로 묶어 집계 함수의 연산 범위로 지정
        <br>
        <img src='img/axis_1.jpg' width='150' height='150' align='left'>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
    - 집계 함수 : 배열객체에 대한 메소드로 사용하거나 Numpy 라이브러리의 메소드로 사용하는 두 가지 방법
        - 합계 : sum()
        - 최소값 : min()
        - 최대값 : max()
        - 누적 합계 : cumsum()
        - 평균 : mean()
        - 중앙값 : median()
            - 크기 순으로 나열된 데이터에 대해 중앙에 위치하는 값
        - 상관계수 : corrcoef()
            - 데이터 간의 상관관계를 나타내는 수치(-1 <= r <= 1)
        - 표준편차 : std()
            - 분산의 제곱근, 데이터가 평균으로부터 흩어져 있는 정도
            - 분산 = 편차(요소-전체평균)제곱의 평균
        - 고유값 : unique()

In [45]:
# 사용할 배열 객체 확인
np_print(a)

    type : <class 'numpy.ndarray'>
    shape : (3, 3)
    dimension : 2
    dtype : int32
    data :
 [[1 2 3]
 [4 5 6]
 [7 8 9]]

In [46]:
# 합계 - 전체 기준 => 모든 요소에 대한 합
# 1) 배열 타입의 메서드 : arr.sum()
# 2) numpy함수 : np.sum(arr)
a.sum()

45

In [47]:
np.sum(a)

45

In [49]:
# 합계 - row, 가로축별 합산
# 메서드, np함수의 파라미터값 : axis=1
# 결과값 : [0번row합, 1번row합, 2번row합]
print(c.sum(axis=1))
print(c)

[46 62 78]
[[10 11 12 13]
 [14 15 16 17]
 [18 19 20 21]]

In [50]:
# 합계 - column, 세로축별 합산 결과
# 메서드, np함수의 파라미터값 : axis=0
# 결과값 : [0번째 column합, 1번째 column합, 2번째 column합 ...]
print(c.sum(axis=0))
print(c)

[42 45 48 51]
[[10 11 12 13]
 [14 15 16 17]
 [18 19 20 21]]

In [52]:
# 최소값 - 전체 기준
# 1) 배열 타입의 메서드 : arr.min()
# 2) numpy함수 : np.min(arr)
c.min()
np.min(c)

10

In [53]:
# (참고) 파이썬 리스트에서 최소값 찾기
x = [1, 2, 3, 4]
min(x)

1

In [56]:
# 최소값 - 각 가로축(row)별 최소값 찾기
# 결과값 : [0번째 row최소값, 1번째row최소값...]
print(c.min(axis=1))
print(c)
print(np.min(c, axis=1))

[10 14 18]
[[10 11 12 13]
 [14 15 16 17]
 [18 19 20 21]]
[10 14 18]

In [58]:
# 최소값  - 각 세로축(column)별 최소값 찾기
# 결과값 : [0번째column 최소값, 1번째 column 최소값...]
print(c.min(axis=0))
print(np.min(c, axis=0))

[10 11 12 13]
[10 11 12 13]

In [10]:
# 최대값 - 전체 기준
# 1) 배열 타입의 메서드 : arr.max()
# 2) numpy 함수 : np.max(arr)
c.max()
np.max(c)

21

In [15]:
# 최대값 - 가로축 기준(row)
print(c.max(axis=1))
print(c)
print(np.max(c, axis=1))

[13 17 21]
[[10 11 12 13]
 [14 15 16 17]
 [18 19 20 21]]
[13 17 21]

In [16]:
# 최대값 - 세로축 기준(column)
print(c.max(axis=0))
print(np.max(c, axis=0))

[18 19 20 21]
[18 19 20 21]

In [17]:
# 누적합계 - 전체 기준
# 1) 배열 타입의 메서드 : arr.cumsum()
# 2) numpy함수 : np.cumsum(arr)
# 결과값 : 
c.cumsum()

array([ 10,  21,  33,  46,  60,  75,  91, 108, 126, 145, 165, 186],
      dtype=int32)

In [21]:
# 누적합계 - 가로축(row) 기준
c.cumsum(axis=1)

array([[10, 21, 33, 46],
       [14, 29, 45, 62],
       [18, 37, 57, 78]], dtype=int32)

In [22]:
# 누적합계 - 세로축(column) 기준
c.cumsum(axis=0)

array([[10, 11, 12, 13],
       [24, 26, 28, 30],
       [42, 45, 48, 51]], dtype=int32)

In [24]:
# 평균 - 전체데이터 기준
# 1) 배열 타입의 메서드 : arr.mean()
# 2) numpy 함수 : np.mean(arr)
c.mean()
np.mean(c)

15.5

In [28]:
# 평균 - 가로축 기준
c.mean(axis=1)
np.mean(c, axis=1)

array([11.5, 15.5, 19.5])

In [27]:
# 평균 - 세로축 기준
c.mean(axis=0)
np.mean(c, axis=0)

array([14., 15., 16., 17.])

In [30]:
# 중앙값 - 전체 기준
# numpy 함수 : np.median(arr)
# arr.media()을 직접호출할 수 없음
print(np.median(c))
print(c)

15.5
[[10 11 12 13]
 [14 15 16 17]
 [18 19 20 21]]

In [31]:
# a를 가지고 (9개) 중앙값을 구하면 원본에 있는 숫자로 잡힙니다.
print(a)
print(np.median(a))

[[1 2 3]
 [4 5 6]
 [7 8 9]]
5.0

In [32]:
# 중앙값 - 가로축 기준
print(np.median(c, axis=1))

[11.5 15.5 19.5]

In [33]:
# 중앙값 - 세로축 기준
print(np.median(c, axis=0))

[14. 15. 16. 17.]

In [35]:
# 상관계수 :  두 데이터간의 상관관계(양/음의 상관관계)
# numpy 함수 : np.corrcoef(arr1, arr2)
x = np.array([163, 175, 181, 155, 157 , 167, 178, 170])
y = np.array([52, 70, 69, 48, 43, 70, 81, 75])

In [36]:
# 자기 자신을 대상으로 한 상관관계
np.corrcoef(x, x)

array([[1., 1.],
       [1., 1.]])

In [37]:
# 서로 다른 배열 2개를 활용한 상관계수 matrix
# 결과 : 대칭형 매트릭스(대각선을 경계로 상위, 하위 삼각형 중 하나만 해석해도 된다)
# 오른쪽 아래로 향하는 대각선은 자기 자신과의 상관관계(항상 1)
print(x)
print(y)
print(np.corrcoef(x,y))

[163 175 181 155 157 167 178 170]
[52 70 69 48 43 70 81 75]
[[1.         0.85607253]
 [0.85607253 1.        ]]

In [38]:
# numpy에서는 3개 요소를 상관관계로 구할 수 없습니다
# 상관관계는 원래 2개 요소간의 관계만 구할 수 있습니다.
z = np.array([0.3, 0.5, 0.6, 0.8, 1.3])

In [39]:
np.corrcoef(x, y, z)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [40]:
# 표준편차 - 전체 데이터 기준
# 1) 배열타입 메서드 : arr.std()
# 2) numpy 함수 : np.std(arr)
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [41]:
a.std()

2.581988897471611

### (참고) 데이터가 퍼져있는 정도를 나타내는 개념

1. 편차(std/sd) : 단위에 대한 보정이 들어가 있지 않아서 상대적인 비교가 어려움
2. 변동계수(cv) : 편차/평균
    - 두 개 이상의 변수(서로 다른 단위를 사용하는 경우)에 대해 데이터가 퍼져있는 정도를 파악하는 경우

In [45]:
# a 데이터 생성
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
#a = np.arange(1, 10).reshape(3, 3)
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [47]:
# 표준편차 - row기준(가로줄 기준)
a.std(axis=1)

array([0.81649658, 0.81649658, 0.81649658])

In [48]:
# 표준편차 - colums기준(세로줄 기준)
a.std(axis=0)

array([2.44948974, 2.44948974, 2.44948974])

In [49]:
# 고유값 : 전체 값에 적용
# numpy 함수 : np.unique(arr)
np.unique(a)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [50]:
d = np.array([1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 4, 5, 5, 6, 6, 7])
np.unique(d)

array([1, 2, 3, 4, 5, 6, 7])

In [54]:
# 난수 패턴 고정
np.random.seed(1000)

In [71]:
# 0이상 3이하의 정수 값을 가지는 3행 3열 배열 생성
# hint : randint를 쓰세요.
d = np.random.randint(0, 4, (3, 3))
np_print(d)

    type : <class 'numpy.ndarray'>
    shape : (3, 3)
    dimension : 2
    dtype : int32
    data :
 [[1 0 1]
 [3 1 3]
 [1 1 3]]

In [72]:
np.unique(d)

array([0, 1, 3])

In [73]:
# 고유값 - 가로축(row기준)
np.unique(d, axis=1)

array([[0, 1, 1],
       [1, 3, 3],
       [1, 1, 3]])

In [74]:
# 고유값 - 세로축(column기준)
np.unique(d, axis=0)

array([[1, 0, 1],
       [1, 1, 3],
       [3, 1, 3]])

### 브로드캐스팅(BroadCasting)

- 서로 다른 구조(shape)를 가진 배열에 대해 연산을 수행할 때 구조를 맞춘느 과정
- 배열과 스칼라값 간의 연산
- 배열과 배열 간의 연산
- 브로트캐스팅 규칙 : 축의 길이가 일치하거나 둘 중 하나의 길이가 1인 두 배열에 대해 호환성을 가짐
<img src='img/broadcast.png' width='600' height='400' align='left'>

In [75]:
# 사용할 배열 객체 다시 확인
np_print(a)
np_print(b)

    type : <class 'numpy.ndarray'>
    shape : (3, 3)
    dimension : 2
    dtype : int32
    data :
 [[1 2 3]
 [4 5 6]
 [7 8 9]]

    type : <class 'numpy.ndarray'>
    shape : (3, 3)
    dimension : 2
    dtype : int32
    data :
 [[ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

In [76]:
a + b

array([[ 5,  7,  9],
       [11, 13, 15],
       [17, 19, 21]])

#### 1. 배열과 값(single value, scala)

- 스칼라 값을 배열의 구조와 동일한 배열로 변형하여 연산 수행

In [78]:
# 구조가 다른 배열간의 연산
# a배열의 모든 요소에 각각 10씩 더하기
a + 10

array([[11, 12, 13],
       [14, 15, 16],
       [17, 18, 19]])

In [80]:
# 스칼라 -> 배열 변형
# 3행 3열 구조에 모든 요소가 10인 배열 요소 생성
scalar_arr = np.full_like(a, 10) # a가 3*3형태인데, 형태는 몇*몇이 올지 모르니 배열자체를 넣어 크기를 자동으로 구하게 처리
np_print(scalar_arr)

    type : <class 'numpy.ndarray'>
    shape : (3, 3)
    dimension : 2
    dtype : int32
    data :
 [[10 10 10]
 [10 10 10]
 [10 10 10]]

In [81]:
# 스칼라값을 직접 더하나 아니면 해당 숫자가 들어간 배열을 만들어 더하나 차이가 없음
a + scalar_arr

array([[11, 12, 13],
       [14, 15, 16],
       [17, 18, 19]])

#### 2. 서로 다른 구조의 배열

- 행, 열의 최대 길이를 기준으로 구조를 생성한 배열로 변형하여 연산 수행
- 확장된 행, 열에 대해서 기존 배열과 동일한 데이터로 구성

In [82]:
# 1행 4열의 구조에서 1, 2, 3, 4를 값을 가지는 배열 x 생성
# 4행 1열의 구조에서 1, 2, 3, 4를 값으로 가지는 배열 y 생성
x = np.arange(1, 5).reshape(1, 4)
x
y = np.arange(1, 5).reshape(4, 1)
y

array([[1],
       [2],
       [3],
       [4]])

In [83]:
# 배열 x를 동일한 값으로 4행으로 확장한 새로운 배열 생성
# 행방향으로 배열 추가하기(세로길이 증가) 메서드 : np.append(arr1, arr2, axis=0)
new_x = np.append(x, x, axis=0)
new_x

array([[1, 2, 3, 4],
       [1, 2, 3, 4]])

In [85]:
new_x = np.append(new_x, new_x, axis=0)
new_x

array([[1, 2, 3, 4],
       [1, 2, 3, 4],
       [1, 2, 3, 4],
       [1, 2, 3, 4]])

In [86]:
# y를 이용해서도 4 * 4 형태로 만들어주세요.
new_y = np.append(y, y, axis=1)
new_y

array([[1, 1],
       [2, 2],
       [3, 3],
       [4, 4]])

In [87]:
new_y = np.append(new_y, new_y, axis=1)
new_y

array([[1, 1, 1, 1],
       [2, 2, 2, 2],
       [3, 3, 3, 3],
       [4, 4, 4, 4]])

In [88]:
x

array([[1, 2, 3, 4]])

In [89]:
y

array([[1],
       [2],
       [3],
       [4]])

In [90]:
# 1행 4열 배열과 4행 1열 배열의 브로드캐스팅 연산
x + y

array([[2, 3, 4, 5],
       [3, 4, 5, 6],
       [4, 5, 6, 7],
       [5, 6, 7, 8]])

In [ ]:
# 4행 4열로 만들어둔 new_x

### 벡터 연산

- 요소들에 대한 연산을 벡터 연산으로 처리하면 일반적인 for반복문으로 연산 작업을 처리하는 것보다 월등히 뛰어난 처리 속도로 효율적인 작업가능

In [93]:
# 0부터 시작해서 100000000개 요소를 가진 배열 생성
x = np.arange(100000000)
x

array([       0,        1,        2, ..., 99999997, 99999998, 99999999])

In [94]:
%%time
# 해당 셀을 완전히 수행하는데 소요된 시간을 표시해주는 주피터노트북 명령어
# 셀의 가장 상단에 위치해야함(주석 포함해서도 가장 상단에 위치해야함)

# 반복문을 통한 합계(x변수에 저장한 넘파이 배열 자료 총합 구하기)
# 시간단위 : 1s = 1,000ms(밀리세컨드) = 1,000,000us(마이크로세컨드)
loop_result = 0
for i in x:
    loop_result += i
loop_result

<timed exec>:8: RuntimeWarning: overflow encountered in long_scalars

Wall time: 18.9 s

887459712

In [95]:
%%time
# 넘파이 배열에서 해당 배열의 총함 .sum()을 통해 구해보세요.
x.sum()

Wall time: 67.4 ms

887459712