# << 함수 >>

반복적으로 사용하는 기능을 묶어서 함수로 정의하면 간편하게 사용할 수 있다.

▶ 기본 문법 

         def 함수이름(매개변수) :

             <수행할 내용1>
             <수행할 내용2>
             <수행할 내용3>
             
             return 

            

▶ 매개변수 

        - 함수 안에서 사용할 값을 전달하는 변수로 <수행할 내용> 문장에서 변수로 사용된다.
        
        - 함수 정의문에서는 매개변수로서 선언되며 실제로 함수를 호출할 때는 인자값으로 전달된다.
        
        
▶ 용어

        - def : 함수를 정의할 때 사용하는 키워드
        
        - return : 함수의 결과값을 반환하는 키워드
        
        - 입력값 = 인수, 입력 인수, 인자
        
        - 결과값 = 출력값, 리턴값, 돌려주는 값, 반환 값

In [1]:
# 기본적인 함수의 예제(불완전한 실행문)
def plus(b):
    print(b + 1)

In [10]:
result = plus(5)
print(result)

6
None

In [6]:
# return문의 역할
def plus2(a):
    return a + 1

In [7]:
result = plus2(5)
result

6

### (참고) 매개변수과 인수

#### 매개변수(parameter, 입력인자, 입력값)
함수에 전달된 값을 저장하는 변수 / 함수를 선언할 때 정의하는 변수


#### 인수 / 인자 (argument)
함수를 호출(=사용)할 때 전달하는 입력 값

In [11]:
# 매개변수를 2개 이상 받는 케이스
def sum(a, b):
    result = a + b
    return result

In [ ]:
sum(3, 5)

### 2. 매개변수 있는 함수

- 인자 값을 전달 할 때 값만 입력하면 순서대로 매개변수에 할당된다.

- 매개변수명을 지정하여 전달할 수 있다.

In [12]:
# 매개변수가 3개인 함수 설정
def test1(a, b, c):
    print(a, b, c)
    result = a + b + c
    return result

In [13]:
test1(10, 20, 30)

10 20 30

60

In [14]:
# 인자값 순서를 바꿔서 전달(반드시 매개변수명으로 지정한 변수명에 대입해줘야함)
test1(c=20, a=10, b=30)

10 30 20

60

### 2-1. 매개변수 초기 값 설정

- 함수 정의문에서 매개변수 값을 할당하면 초기 값으로 설정


- 함수 호출 시 값을 입력하지 않으면 초기 값으로 사용


- 초기화시키고 싶은 매개변수들을 항상 뒤쪽에 위치

(참고) 포맷팅함수에서 인덱스 번호, 변수명 사용했던 규칙과 유사

In [15]:
# 디폴트값 선언을 사용한 예시
def test2(a=1, b=2, c=3):
    result = a + b + c
    return result

In [16]:
test2()

6

In [18]:
test2(10)

15

In [19]:
test2(10, 20)

33

In [22]:
# 디폴트값 설정은 반드시 오른쪽 요소부터 지정한다
def test3(a, b=2, c=1):
    result = a + b + c
    return result

In [23]:
test3(10)

13

### 가변인자 리스트

- 입력할 파라미터의 개수가 몇 개인지 모를때 사용함
- 파라미터명 왼쪽에 *을 붙인다

In [1]:
def get_member_list(p1):
    print("출석학생은 %s님 입니다." % p1)

In [2]:
get_member_list('홍길동')

출석학생은 홍길동님 입니다.

In [3]:
def get_member_list2(p1, p2):
    print("출석학생은 %s, %s님 입니다." % (p1, p2))

In [4]:
get_member_list2("홍길동", "김파이썬")

출석학생은 홍길동, 김파이썬님 입니다.

In [5]:
def get_members(*stu):
    print(stu)
    print(type(stu))
    message = "출석학생은 "
    for i in stu:
        message += str(i) + ", "
    message += "입니다."
    print(message)

In [6]:
get_members("홍길동", "김파이썬", "이팬더스", 1, 2, 3, 4, 5, "밥", "국수", "빵", "서울", "방콕", "베이징", "뉴욕", "파리", "런던")

('홍길동', '김파이썬', '이팬더스', 1, 2, 3, 4, 5, '밥', '국수', '빵', '서울', '방콕', '베이징', '뉴욕', '파리', '런던')
<class 'tuple'>
출석학생은 홍길동, 김파이썬, 이팬더스, 1, 2, 3, 4, 5, 밥, 국수, 빵, 서울, 방콕, 베이징, 뉴욕, 파리, 런던, 입니다.

### 6. 키워드 파라미터 kwargs (keyword arguments)

딕셔너리 형태로 저장되는 매개변수로 정의

In [41]:
def test4(**kwargs):
    return kwargs

In [42]:
test4(name="홍길동", age=19)

{'name': '홍길동', 'age': 19}

### 7. 함수의 결과 값

- 함수의 결과 값은 항상 1개

- 여러 개의 결과를 가질 수 있지만 하나의 튜플로 전달


▶ 기본 문법
 
          def 함수이름(매개변수이름):

             return 결과값 1 , 결과값 2

In [43]:
# return 키워드는 전달받은 결과물이 2개 이상인 경우(,로 구분지어서 보내는 경우) 하나의 '튜플'로 묶어서 반환
# 최종적으로 '하나의 변수'에 담을 수 있는 '하나의 값'으로 처리된다
def test(a, b):
    sum_ = a + b
    mul = a * b
    return sum_, mul

In [44]:
#결과를 통째로 가져오기
a = test(3, 4)
print(a)

(7, 12)

In [45]:
# 결과를 개별 변수에 쪼개서 가져오기
s, m = test(5, 6)
print(s)
print(m)

11
30

## << 연습문제 >>

#### 1. 입력받은 모든 수의 평균값을 계산하는 함수를 작성해보세요.

    - 조건1. 숫자의 개수는 정해져있지 않다.

In [7]:
def get_average(*num_list):
    total = 0
    for i in num_list:
        total += i
    return total/len(num_list)

In [8]:
get_average(10, 20, 30, 20, 50, 33, 58, 21)

30.25

#### 2. 리스트로 입력받은 수들에 대해 양수만 필터링하여 반환해주는 함수를 작성해보세요.

- 조건1. 입력값은 인자값으로 리스트를 전달

- 조건2. 결과값은 양수로만 구성된 새로운 리스트

In [9]:
def get_positive_list(*num_list):
    pos_list = []
    for i in num_list:
        if i > 0:
            pos_list.append(i)
    return pos_list

In [10]:
get_positive_list(10, 20, -20, -21, 52, 40, -19, -80, 95)

[10, 20, 52, 40, 95]