# 자료형

여러 개의 아이템들을 저장하는 객체 = 여러 개의 값(데이터타입)을 저장하는 그릇

## 1. 리스트(List)

▶ 문법 기호 : [아이템1, 아이템2, 아이템3 .... ]


▶ 용어 : 아이템 = 요소


▶ 아이템으로 가질 수 있는 데이터 타입 : 문자, 숫자, 리스트, 딕셔너리 ...


▶ 종류

     * 아이템이 없는 리스트
    
     * 1차원 리스트
    
     * 다차원 리스트 
    
    
▶ 특징

     * 인덱스 활용
    
     * 다차원 리스트의 구조에 대한 이해

### 1. 생성하기

In [1]:
# 빈 리스트 생성하기 = 아이템이 없는 리스트
# 문법기호 : []
# 함수 : list()
a = []
a2 = list()
print(type(a), type(a2))
print(a, a2)

<class 'list'> <class 'list'>
[] []

In [2]:
# 모든 데이터타입을 아이템으로 가질 수 있다.
a3 = ['a', 10, 1.1, [1, 23.1, 'a']]

In [10]:
# 2차원 배열이며, 인덱스를 2개를 써야 하나의 값을 타겟으로 잡을 수 있다.
a3[3][2]

'a'

In [11]:
# 3차원 배열 예시
[1, 2, 3, [1, 2, 3, [10, 20]]]

[1, 2, 3, [1, 2, 3, [10, 20]]]

## 2. 인덱싱, 슬라이싱

리스트를 인덱스 번호로 접근하면 해당하는 위치의 값(아이템)을 가져온다.

※ 복습

    - 첫 번째 인덱스 번호는 ? = 0번 인덱스 = 첫 번째 아이템
    
    - 마지막 인덱스 번호는 ? = -1 = 마지막 아이템

### 인덱싱(Indexing)

※ 정의 복습 : 특정 위치에 있는 하나의 아이템에 접근한다. = 하나의 값을 가져온다.

In [12]:
# 리스트 생성하기
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
# 첫 번째 아이템 인덱스 번호 : 0
# 인덱싱 문법 : 객체[인덱스 번호]
a[0]

1

In [14]:
# 리스트에서 6이라는 아이템 가져오기
a[5]

6

In [15]:
# 리스트의 마지막 값 확인하기
a[-1]

9

In [16]:
# len()으로도 길이 확인 가능
len(a)

9

### 슬라이싱(Slicing)

- 정의 복습 : 연속된 범위에 있는 하나 또는 하나 이상의 여러개 아이템에 접근한다.
- 문법기호 : 대상객체(문자열, 리스트)[시작번호:끝번호:간격] => 끝번호는 포함하지 않는다.

In [17]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
# 리스트의 0 ~ 2번째 아이템까지 확인하기
# 시작번호 : 0
# 끝번호 : 2 -> 3
a[0:3]

[1, 2, 3]

In [19]:
# 리스트의 3번째 아이템부터 마지막 아이템까지 확인하기
# 시작번호 : 3
# 끝번호 : 생략
a[3:]

[4, 5, 6, 7, 8, 9]

### << 연습문제 >>

다음의 4차원 리스트에서 아래 조건에 맞는 값을 출력해주세요.

         a = [1,2,3, ['a', [100, 200, ['강남', '서울'], 300,], 'b', 'c']]
         
         출력 결과 = 강남 & 300 & c

In [20]:
a = [1,2,3, ['a', [100, 200, ['강남', '서울'], 300,], 'b', 'c']]

In [36]:
value3 = a[3][3]
value3

'c'

In [38]:
value1 = a[3][1][2][0]
value1

'강남'

In [37]:
value2 = a[3][1][3]
value2

300

In [39]:
print("출력 결과 = %s & %s & %s" % (value1, value2, value3))

출력 결과 = 강남 & 300 & c

### 3. 아이템 추가하기 : 연산자와 함수를 이용한 리스트 아이템 추가

1) 산술연산자 : +, *

2) 리스트의 함수(메서드) : 리스트.append(), 리스트.extend(), 리스트.insert()

### 3-1) 산술연산자

* 종류 : +, *

* 특징 : 원본에 반영되지 않는다.

In [40]:
# 리스트끼리 연결 : +
a = [1, 2, 3]
b = [4, 5, 6]

In [41]:
a + b

[1, 2, 3, 4, 5, 6]

In [42]:
print(a, b)

[1, 2, 3] [4, 5, 6]

In [43]:
# 리스트 대상 곱하기 : *
b * 3 # b + b + b

[4, 5, 6, 4, 5, 6, 4, 5, 6]

In [44]:
b

[4, 5, 6]

### 4. 리스트 타입의 함수 (method)
* 종류

    - 리스트.append(추가할 아이템) : 인자값을 통채로 리스트의 마지막 아이템으로 추가, 인자값은 1개만 받음 = 1개의 아이템만 추가 가능

    - 리스트.extend(추가할 아이템) : 인자값의 아이템을 뽑아서 리스트의 마지막 아이템으로 추가, 인자값은 1개만 받음, 단 여러 개의 아이템 추가 가능
    
    - 리스트.insert(인덱스번호, 추가할 아이템) : 위치를 지정해서 아이템을 삽입할 수 있음, 통채로 아이템을 추가
    
    - 특징 : 원본에 바로 적용이 됨
    
    
* 참고 연산자 : in 연산자 (결과값은 bool type)

In [45]:
# 리스트 생성하기
a = [1, 2, 3]
a

[1, 2, 3]

In [46]:
# append()
# 문법 : 리스트.append(추가할 아이템)
a.append(4)
a

[1, 2, 3, 4]

In [47]:
# 추가할 자료로 [5, 6]을 제공한다면
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [48]:
a[4]

[5, 6]

In [49]:
# extend()
# 문법 : 대상리스트.extend(리스트)
# append()와의 차이점 : 인자값으로 리스트만 받을 수 있다.
# 리스트 길이만큼 인덱스가 연장된다(append는 무조건 1만큼 연장됨)
a.extend([7, 8, 9])
a

[1, 2, 3, 4, [5, 6], 7, 8, 9]

In [51]:
a.extend([10])
a

[1, 2, 3, 4, [5, 6], 7, 8, 9, 10]

In [52]:
a

[1, 2, 3, 4, [5, 6], 7, 8, 9, 10]

In [53]:
# insert()
# 문법 : 대상리스트.insert(인덱스번호, 추가할아이템)
# 다른 함수와의 차이점 : 아이템 추가가 마지막 인덱스가 아닌 지정한 인덱스를 기준으로
# append와의 유사점 : 하나의 인덱스에 다 때려박음
a.insert(0, 100)
a

[100, 1, 2, 3, 4, [5, 6], 7, 8, 9, 10]

In [54]:
a.insert(0, [99, 98])
a

[[99, 98], 100, 1, 2, 3, 4, [5, 6], 7, 8, 9, 10]

In [60]:
# in 키워드는 특정 요소가 리스트 내에 있는지 없는지 여부를 물어봅니다.
# 값 in 리스트
# 값 100이 a 리스트 내에 존재하나요? => 100 in a
99 in a[6]

False

In [57]:
a[0]

[99, 98]

In [61]:
# not in 키워드는 특정 요소가 리스트 내부에 없는지를 물어봅니다.
# 값 not in 리스트
# 50이 a리스트에 없습니까?  -> 50 not in a
10 not in a

False

### << 연습문제 >>

아래의 순서에 맞추어 직접 실행해보세요.

1) 빈 리스트 생성


2) 1번 리스트에 숫자 1,2,3 을 아이템으로 추가


3) 2번 리스트의 3번째 위치에 문자 100 을 아이템으로 추가


4) 3번 리스트의 마지막에 문자 A, B를 아이템으로 가진 리스트를 아이템으로 추가


5) 4번 리스트의 아이템을 2번 반복해서 가지는 리스트를 출력

In [64]:
# 1) 빈 리스트 생성
list1 = list()
list1

[]

In [65]:
# 2) 1번 리스트에 숫자 1, 2, 3을 아이템으로 추가
# .append(), .extend()중 하나를 사용해주세요.
# list1.extend([1, 2, 3])
list1.append(1)
list1.append(2)
list1.append(3)
list1

[1, 2, 3]

In [66]:
# 3) 2번 리스트의 인덱스 2번째 위치에 문자 100을 아이템으로 추가
list1.insert(2, 100)
list1

[1, 2, 100, 3]

In [67]:
# 4) 3번 리스트의 마지막에 문자 A, B를 아이템으로 가진 리스트를 아이템으로 추가
list1.append(['A', 'B'])

In [68]:
list1

[1, 2, 100, 3, ['A', 'B']]

In [70]:
# 5) 4번 리스트의 아이템을 2번 반복해서 가지는 리스트 출력
list1 * 2

[1, 2, 100, 3, ['A', 'B'], 1, 2, 100, 3, ['A', 'B']]

### 5. 아이템 수정하기

- 인덱싱, 슬라이싱을 이용해서 아이템을 수정할 수 있다.

In [1]:
# 리스트 생성하기
a = [1, 2, 3, 4]

In [3]:
# 하나의 아이템 수정하기
# 0번 인덱스에 있는 값을 [10, 20]으로 수정하기
# 결과 : [[10, 20], 2, 3, 4]
a[0] = [10, 20]
a

[[10, 20], 2, 3, 4]

In [9]:
# 연속된 범위의 여러 아이템 수정하기
# 0번 인덱스만 선택 => 슬라이싱으로 선택
a2 = [1, 2, 3, 4]
a2[0:1] = [10, 20] #0번째부터 0(1-1)번째까지
a2

[10, 20, 2, 3, 4]

In [11]:
# 슬라이싱으로 값을 할당할 때의 주의점 : 전달하는 값은 1개여도 리스트로
a2[0:1] = [100]

In [12]:
a2

[100, 20, 2, 3, 4]

### << 연습문제 >>

아래 조건에 맞추어 리스트를 수정하세요.

    [ 10, 99, 3, '사과', 73, '바나나' ]
    
조건1)  '사과'를 'apple'로 수정

조건2)  99, 3 을 9, 33으로 수정(슬라이싱으로 교체하세요)

조건3)  73 을 [ 73, 74 ] 로 수정

In [13]:
a = [10, 99, 3, '사과', 73, '바나나']

In [14]:
# 조건1)'사과' 를 'apple'로 수정
a[3] = 'apple'
a

[10, 99, 3, 'apple', 73, '바나나']

In [15]:
# 조건2) 99, 3을 9, 33으로 수정
a[1:(2+1)] = [9, 33]
a

[10, 9, 33, 'apple', 73, '바나나']

In [16]:
# 조건3) 73을 [73, 74]로 수정
a[-2] = [73, 74]
a

[10, 9, 33, 'apple', [73, 74], '바나나']

### 6. 아이템 삭제하기

* 슬라이싱

* del 키워드 + 인덱싱/슬라이싱

* remove() 메서드 : 값을 기준으로 삭제

* pop() 
    - 인자값에 아무것도 입력하지 않거나 -1을 입력하면 마지막 인덱스를 삭제
    - 특정 인덱스를 지정하여 삭제

In [17]:
# 리스트 생성하기
a1 = [10, 20, 30, 40, 50]
a2 = [10, 20, 30, 40, 50]

In [18]:
# 하나의 앙템 삭제하기 1 - 슬라이싱 + 빈 리스트 대입
# 0번 인덱스 값 삭제하기
a1[0:1] = []
a1

[20, 30, 40, 50]

In [19]:
# 만약 슬라이싱이 아닌 인덱싱을 이용한 빈 리스트 대입시는 빈 리스트가 해당 번호에 대입
a2[0] = []
a2

[[], 20, 30, 40, 50]

In [20]:
# 하나의 아이템 삭제하기 2 - del 키워드 + 인덱싱
del a1[-1]
a1

[20, 30, 40]

In [21]:
# del키워드는 원래 해당 변수나 자료를 삭제해버립니다.
# 리스트 전체를 del키워드로 걸면, 리스트가 전부 삭제됩니다.
del a2
a2

NameError: name 'a2' is not defined

In [22]:
# 하나의 아이템 삭제하기 3 - remove() 메서드
# 문법 : 리스트.remove(삭제할 자료를 직접 기입(인덱스가 아님!!))
a = [1, 2, 3, 3, 3, 4, 5]

In [23]:
# 5라는 값을 삭제(인덱스번호로는 6)
a.remove(5)
a

[1, 2, 3, 3, 3, 4]

In [24]:
# 중복된 아이템이 존재하면 가장 앞서는 인덱스 자료 하나만 삭제
a.remove(3)
a

[1, 2, 3, 3, 4]

In [25]:
# del 키워드는 단일자료뿐만 아니라 연속된 범위(슬라이싱)자료 삭제도 가능하다.
del a[2:]
a

[1, 2]

In [26]:
# 하나의 아이템 삭제하기 4 - pop() 메서드
# 마지막에 위치한 값이 몇이었는지 확인시켜주고 삭제함
a = [1, 2, 3, 4, 5]
a.append(6)
a

[1, 2, 3, 4, 5, 6]

In [27]:
a.pop() #인덱스번호를 미기입하면 마지막 인덱스 자료 삭제(6삭제)

6

In [28]:
a

[1, 2, 3, 4, 5]

In [29]:
# 삭제하려는 인덱스번호 지정시 마지막이 아닌 입력된 인덱스 자료 삭제
a.pop(2)

3

In [30]:
a

[1, 2, 4, 5]

### 7. 아이템 정렬하기

* 함수

    -sort( ) : 기본동작 = 오름차순정렬(작은값이 먼저오고 큰값이 나중에)
    
    -reverse( ) : 기존 리스트의 처음과 마지막 순서를 뒤집어서 나열

In [31]:
a = [10, -30, 57, -33, 71, 1, 34, -2]

In [32]:
# 값을 오름차순으로 정렬 : sort() 기본동작 / sort(reverse=False)
# *** 원본 리스트가 시뮬레이션이 아니라 아예 변경됩니다
a.sort()
a

[-33, -30, -2, 1, 10, 34, 57, 71]

In [33]:
# 값을 오름차순이 아닌 내림차순으로 정렬하는 경우 : .sort(reverse=True)
a.sort(reverse=True)
a

[71, 57, 34, 10, 1, -2, -30, -33]

In [34]:
# 값을 인덱스기준으로 반대로 뒤집기 : reverse()
b = [10, 71, 32, 46, 5, 95]

In [35]:
b.reverse()
b

[95, 5, 46, 32, 71, 10]

### 8. 아이템 개수 세기

* 함수

    -리스트.count(값) : 값이 리스트에 몇 개 있는지 개수를 반환 => 특정 아이템의 개수를 반환
    
    -len( ) : 파이썬 내장함수, 인자값으로 전달받은 객체의 길이 => 전체 아이템의 개수를 반환

In [36]:
a = [1, 2, 3, 3, 3, 4, 5, 6]

In [39]:
# 특정 아이템의 개수 : count()
a.count(7)

0

In [40]:
# 전체 아이템의 개수 : len()
len(a)

8

### 9. 리스트 복사하기

* 할당기호(=)

* copy() 메서드|

* list()

* 슬라이싱

In [41]:
# 1. 할당기호(=) 로 복사하기
a = [1, 2, 3, 4, 5]
b = a

In [42]:
print(a, b)

[1, 2, 3, 4, 5] [1, 2, 3, 4, 5]

In [43]:
# =을 이용해 복사한 요소는 동일한 지점을 가리키는 복사이다.
a[0] = 10

In [44]:
a

[10, 2, 3, 4, 5]

In [45]:
b

[10, 2, 3, 4, 5]

In [46]:
# 2. .copy() 메서드로 복사하기
c = a.copy()

In [48]:
# 파이썬에서는 id(자료)를 이용해 저장된 번지수 주소를 조회할 수 있다.
print(id(a), id(b))
print(id(a), id(c))

1716401731840 1716401731840
1716401731840 1716401541696

In [49]:
# a를 변경해도 c는 영향을 받지 않는다.
a[2] = 20
print(a, b, c)

[10, 2, 20, 4, 5] [10, 2, 20, 4, 5] [10, 2, 3, 4, 5]

In [50]:
# 3. list()로 복사하기
# list(자료)를 넣으면 그 자료를 힙에 새롭게 할당해 리스트화한다.
d = list(c)

In [51]:
print(c, d)

[10, 2, 3, 4, 5] [10, 2, 3, 4, 5]

In [52]:
# 깊은복사 여부 확인
print(id(c), id(d))

1716401541696 1716401743168

In [53]:
# 4. 슬라이싱으로 복사하기
e = d[:]
print(id(d), id(e))

1716401743168 1716393605184

### << 연습문제 >>

1. a 리스트를 이용하여 다음과 같은 문자열을 출력하시오.

    a = ['Life', 'is', 'too', 'short', 'you', 'need', 'python']

    출력문 : you too

In [55]:
a = ['Life', 'is', 'too', 'short', 'you', 'need', 'python']

In [56]:
print(a[4], a[2])

you too

In [57]:
# 리스트의 길이도 구하세요.
len(a)

7

3. a 리스트의 첫번째 아이템에 길이를 추가하세요

    ( 결과 )   [7, 'Life', 'is', 'too', 'short', 'you', 'need', 'python']

In [58]:
a.insert(0, len(a))
a

[7, 'Life', 'is', 'too', 'short', 'you', 'need', 'python']

4.아래와 같이 크기 순서가 없는 리스트를 만들고 내림차순 정렬로 바꿔보세요.

      [1, 4, 9, 2, 6, 10]  
      
      ( 결과 )  [10, 9, 6, 4, 2, 1]

In [59]:
b = [1, 4, 9, 2, 6, 10]

In [60]:
b.sort()
b.reverse()
# 위 두 줄을 한 번에
# b.sort(reverse=True)

In [61]:
b

[10, 9, 6, 4, 2, 1]

5. 다음과 같은 아이템을 가지는 리스트를 만들고 아이템을 삭제해보세요.

      [1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]  
      
      ( 결과 )  [2, 4, 6, 8, 10]

In [63]:
c = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
del c[::2]
c

[2, 4, 6, 8, 10]

## 자료형 - Tuple

- 생성 문법 기호 : ( )
- 아이템을 수정/삭제할 수 없기 때문에 실수로 데이터가 변경되거나 삭제되는 위험이 적다.
- 객체를 저장하는데 더 적은 메모리를 사용한다.
- dictionay 자료형의 key로 활용할 수 있다.
- 함수의 인자는 tuple 자료형으로 전달된다.

### 1. 생성하기

In [64]:
# 하나의 아이템을 가진 리스트
a = [1]
type(a)

list

In [71]:
# 문법기호 : 튜프은 ()를 이용해 생성하되 생략이 가능함. 단 쉼포는 무조건 1개이상 들어감
tu = 1,
type(tu)

tuple

In [72]:
# tuple(리스트)로 처리하면 리스트를 튜플로 변환할 수 있다.
b = tuple(a)
print(type(a), type(b))

<class 'list'> <class 'tuple'>

In [73]:
b

(1,)

In [74]:
# 변수 하나에 여러 값을 대입하면 튜플로 간주된다
x = 56, 78, 29, 100
x

(56, 78, 29, 100)

In [77]:
# 튜플 내부의 자료 개수만큼 변수를 대입해주면 하나씩 나눠서 값을 받는다.
x1, x2, x3 = 1, 2, 3
print(x1, x2, x3)

1 2 3

### 2. 인덱싱

In [79]:
x[0]

56

### 3. 슬라이싱

In [80]:
x[:3]

(56, 78, 29)

### 4. 튜플 연산자

* 산술 연산자 : +, *

In [81]:
# 여러 개의 튜플 아이템을 합쳐서 새로운 튜플로 구성하기 : +
x + x

(56, 78, 29, 100, 56, 78, 29, 100)

In [82]:
# 한 개의 튜플을 반복해서 확장해서 새로운 튜플 만들기 : *
x * 4

(56, 78, 29, 100, 56, 78, 29, 100, 56, 78, 29, 100, 56, 78, 29, 100)

### 5. 수정/삭제 할 수 없는 튜플

In [83]:
# 수정하기 -> 인덱싱으로 하나의 아이템에 접근해서 수정
x[0] = 0

TypeError: 'tuple' object does not support item assignment

In [84]:
# 삭제하기 - del키워드 + 인덱싱
del x[0]

TypeError: 'tuple' object doesn't support item deletion